<template>
<p>test-{{msg}}</p>

</template>
<script>
import { Line } from 'vue-chartjs';

export default {
   extends: Line,
   props:['msg'],
   data(){
    return {
     
    }
   },
   mounted() {
    console.log('mounted props=>', this.$props);
    console.log('params=>', this.$route);
     
                
   },
   watch: { 
        msg: function() { // watch it     
          console.log('Prop changed-data: ', this.$props['msg'])
           this.getChart(this.$props['msg'])
          return this.$props['msg'];
        }
  },methods:{
        getChart(status){ 
        console.log('calling getChart')
          let uri = `http://localhost:8000/date-vs-no-of-call/${status}/*`;
         console.log('test=>', uri)
         let Years = new Array();
         let Labels = new Array();
         let Prices = new Array();
         this.axios.get(uri).then((response) => {
            let data = response.data;
            console.log('res=>', data)
             console.log('res1=>', data.all.labels)
             console.log('res2=>', data.all.datasets)
            if(data) {
               
               this.renderChart({
               labels: data.all.labels,
               datasets: [{
                  label: 'Bitcoin',
                  backgroundColor: '#FC2525',
                  data: data.all.datasets
            }]
         }, {responsive: true, maintainAspectRatio: false})
       }
       else {
          console.log('No data');
       }
      });     
        }
  }
}
</script>