<template>
  <div class="row justify-content-center">
      <div class="col-md-12">
          <div class="card card-default">              
              <div class="card-body">
                  
	  			<TestComponent v-bind:msg="msg"></TestComponent>
				<ChartComponent v-bind:msg="msg"></ChartComponent>
				<GraphComponent :chartData="chartData"></GraphComponent>

			<div class="row">
				<div class="col-md-6" >
					<select class="form-control"
					v-on:change="selectChange($event)">
					<option value="">--select status--</option>
						<option v-for="s in statusList" v-bind:value="s.name">{{s.name}}</option>
					</select>
					</div>
					<div class="col-md-6"> 
					 <date-picker
							v-model="dateRange"
							v-on:change="dateChange($event)"
							lang="en"
							type="date"
							format="YYYY-MM-DD"
						></date-picker>
					</div>					
				 </div>					
				<div style="height:400px;overflow-y: scroll;">
				   <table class="table" width="100%">
				   <thead>
				   	<tr >
				   	 <td>SL NO</td>
				     <td>Call Date</td>
					 <td>Phone Number</td>
					 <td>Call Duration</td>
					 <td>Status</td>
				   </tr>
				   </thead>
				   <tbody>
				   <tr v-bind:key="i" v-for="(p, i) in posts">
				     <td>{{i+1}}</td>
				     <td>{{p.call_date}}</td>
					 <td>{{p.phone_number}}</td>
					 <td>{{p.call_duration}}</td>
					 <td>{{p.status}}</td>
				   </tr>
				   </tbody>
				</table>	
				</div>

              </div>
          </div>
      </div>
  </div>
</template>
<style>
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
</style>
<script>	
	import moment from 'moment';  
	import DatePicker from 'vue2-datepicker';
	import 'vue2-datepicker/index.css';
	import TestComponent from './TestComponent';
	import ChartComponent from './ChartComponent';
	import GraphComponent from './GraphComponent';
    export default {    
    components: {
				DatePicker,
				TestComponent,
				ChartComponent,
				GraphComponent
			},	 
      data() {
        return {
          control: "blah",
	      controls: [],
	      name: '',
	      description: '',
	      modalitem: '',
	      page: 1,
	      limit: 25,
	      skip: 0,
	      isMore: true,	      
          chartData: [],
          chartLabels: [],
		  chartTitle: 'Call log Chart',	
		  posts: {},
		  msg:'',
		  dateRange: '',	
		  timelineItems: {},	
		  selectedStatus: '',
		  statusList: [
			  {"id": 1, "name": "In-call"},
			  {"id": 2, "name": "call-back"},
			  {"id": 3, "name": "hold"},
			  {"id": 4, "name": "do not call"}
		  ]
      	}
      },
      methods: {
 
	    getPosts(status, date){
	    	status = status === undefined ? 'all' : status;
	    	date = date === undefined || date === 'Invalid date' ? '*' : date;
			let uri = 'http://localhost:8000/call-logs/'+ status+'/'+date;
			this.axios.get(uri).then(response => {
				console.log('home-data=>', response.data);
				this.posts = response.data;
			});
		},
		getChartData(status, date) {
			console.log('getChartData=>', status,date);
		    status = status === undefined ? 'all' : status;
		    date = date === undefined || date === 'Invalid date' ? '*' : date;
			let uri = 'http://localhost:8000/date-vs-no-of-call/' +status + '/'+ date;
		
			this.axios.get(uri).then((response) => {
				console.log('graph-data=>', response.data);	
				const d = response.data.all;			
			    this.chartData=response.data.all.datasets;
            	console.log('chartData=>', d.datasets);	
            	console.log('chartLabels=>',d.labels);				
			});
		},
		dateChange(e) {
			console.log('daterange=>',e);
			this.dateRange = e;

			if (this.selectedStatus === '' || this.selectedStatus === undefined) {
				this.selectedStatus ='all';
			}
			this.getPosts(this.selectedStatus,moment(e).format('YYYY-MM-DD'));

						
		},
		selectChange(e) {			
			console.log(e);
			console.log('status=change=>', e.target.value);
			this.selectedStatus = e.target.value;		
			console.log('selectChange=>dateRange=>', moment(this.dateRange).format('YYYY-MM-DD'));
			this.msg=	e.target.value	
			this.getPosts(e.target.value,moment(this.dateRange).format('YYYY-MM-DD'));
			this.getChartData(e.target.value, moment(this.dateRange).format('YYYY-MM-DD'));
		}
	  },
	  created() {
		this.getPosts('all','*');
	
	  },
	  mounted() {	
	   
		console.log('mounted');
	  }
    }
</script>