<template>
  <div class="row justify-content-center">
      <div class="col-md-12">
          <div class="card card-default">              
              <div class="card-body">
                  

  			<line-chart :chartLabels="chartLabels" :chartData="chartData" :bind="true"></line-chart>
			<div class="row">
				<div class="col-md-6">
					<select class="form-control"
					v-on:change="selectChange($event)">
					<option value="">--select status--</option>
						<option v-for="s in statusList" v-bind:value="s.name">{{s.name}}</option>
					</select>
					</div>
					<div class="col-md-6"> 
					 <date-picker
							v-model="dateRange"
							v-on:change="dateChange($event)"
							lang="en"
							type="date"
							format="YYYY-MM-DD"
						></date-picker>
					</div>					
				 </div>
					
					
				   <table class="table" width="100%">
				   <thead>
				   	<tr >
				   	 <td>SL NO</td>
				     <td>Call Date</td>
					 <td>Phone Number</td>
					 <td>Call Duration</td>
					 <td>Status</td>
				   </tr>
				   </thead>
				   <tbody>
				   <tr v-for="(p, i) in posts">
				     <td>{{i+1}}</td>
				     <td>{{p.call_date}}</td>
					 <td>{{p.phone_number}}</td>
					 <td>{{p.call_duration}}</td>
					 <td>{{p.status}}</td>
				   </tr>
				   </tbody>
				</table>	
              </div>
          </div>
      </div>
  </div>
</template>
<style>
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
</style>
<script>	
	import moment from 'moment';
    import LineChart from './LineChart.vue';
	import DatePicker from 'vue2-datepicker';
	import 'vue2-datepicker/index.css';
    export default {    
    components: {
				DatePicker,
				LineChart
			},	 
      data() {
        return {
          chartData: {},
          chartLabels: {},
		  chartTitle: 'Call log Chart',	
          posts: {},
		  dateRange: '',
		  timelineItems: {},	
		  selectedStatus: '',
		  statusList: [
			  {"id": 1, "name": "In-call"},
			  {"id": 2, "name": "call-back"},
			  {"id": 3, "name": "hold"},
			  {"id": 4, "name": "do not call"}
		  ]
      	}
      },
      methods: {
	    getPosts(status, date){
	    	status = status === undefined ? 'all' : status;
	    	date = date === undefined || date === 'Invalid date' ? '*' : date;
			let uri = 'http://localhost:8000/call-logs/'+ status+'/'+date;
			this.axios.get(uri).then(response => {
				console.log('home-data=>', response.data);
				this.posts = response.data;
			});
		},
		getChartData(status, date) {
			console.log('getChartData=>', status,date);
		    status = status === undefined ? 'all' : status;
		    date = date === undefined || date === 'Invalid date' ? '*' : date;
			let uri = 'http://localhost:8000/date-vs-no-of-call/' +status + '/'+ date;
			this.chartData = [];
			this.chartLabels = [];
			this.axios.get(uri).then(response => {
				console.log('graph-data=>', response.data);				
				this.chartData.push(response.data.datasets);
            	this.chartLabels.push(response.data.labels);	
            	console.log('chartData=>',this.chartData);				
			});
		},
		dateChange(e) {
			console.log('daterange=>',e);
			this.dateRange = e;

			if (this.selectedStatus === '' || this.selectedStatus === undefined) {
				this.selectedStatus ='all';
			}

			this.getPosts(this.selectedStatus,moment(e).format('YYYY-MM-DD'));
			this.getChartData(this.selectedStatus,moment(e).format('YYYY-MM-DD'));
		},
		selectChange(e) {			
			console.log(e);
			console.log('status=change=>', e.target.value);
			this.selectedStatus = e.target.value;		
			console.log('selectChange=>dateRange=>', moment(this.dateRange).format('YYYY-MM-DD'));
			
			this.getPosts(e.target.value,moment(this.dateRange).format('YYYY-MM-DD'));			
			this.getChartData(e.target.value,moment(this.dateRange).format('YYYY-MM-DD'));
		}
	  },
	  created() {
		this.getPosts('all','*');
		this.getChartData('all','*');
	  },
	  mounted() {
		console.log('mounted');
	  }
    }
</script>