<template>
<p>You have selected-{{msg}}</p>
</template>
<script>	
export default
{
	name: 'TestComponent',	
	props:	['msg'],
	data() {
		return {}
	},
	methods:{
	},
	 mounted() {		 	
		console.log('mounted');
	  }
}
</script>	
